@font-face {
    font-family: "Christmas";
    src: url("./font/Christmas Squad.otf");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(12px, 8px + 0.8vw, 36px);
}

body {
    --header-text-color: #ffeebb;
    --header-back-color: #123020;
    --tab-color: #ac2229;
    --frame-color: #dbab51;
    --content-text-color: #201000;
    --content-back-color: #ffeebb;

    --default-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --system-font: system-ui, -apple-system, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    --title-font: Christmas, serif;

    --content-width: 65rem;

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--header-text-color);
    background-color: var(--header-back-color);
}

/* Header */

header {
    color: var(--header-text-color);
    background-color: var(--header-back-color);
    max-width: var(--content-width);
    margin: auto;
    text-align: center;
}

header h1 {
    font-family: var(--title-font);
    font-weight: normal;
    margin-top: 1rem;
    font-size: 5rem;
}

nav {
    padding-left: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

nav button {
    display: block;
    font-family: var(--default-font);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--header-text-color);
    background-color: var(--tab-color);
    border: 0.1rem solid var(--tab-color);
    border-radius: 0.4rem 0.4rem 0 0;
    width: 7rem;
    padding: 0.1rem 1rem;

    position: relative;
    top: 0.3rem;
}

nav button.current-tab {
    color: var(--tab-color);
    background-color: var(--content-back-color);
    border: 0.2rem solid var(--content-back-color);

    position: relative;
    top: 0.4rem;
}

/* Main */

main {
    color: var(--content-text-color);
    background-color: var(--content-back-color);
    border-top: 0.4rem solid var(--tab-color);
    border-radius: 1.2rem 1.2rem 0.4rem 0.4rem;
    max-width: var(--content-width);
    padding: 1rem;
    margin: auto;
}

#content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    min-height: 70vh;
}

#content .section {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

#content .text-block {
    flex: 2;
    padding: 0 2rem;
}

#content .text-block * {
    margin-bottom: 0.8rem;
}

#content .text-block h2 {
    margin-top: 1rem;
}

#content .text-block p {
    line-height: 1.4rem;
}

#content img {
    flex: 1;
    max-width: 30%;

    display: block;
    width: 100%;
    background-color: var(--frame-color);
    border: 0.4rem double var(--content-back-color);
    border-radius: 0.3rem;
}

#content .filigree::after {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--frame-color);
    content: ")";
}

#content a {
    color: var(--tab-color);
}

/* Menu */

main #content ul {
    list-style: none;
    line-height: 1.4rem;
    margin-left: 5rem;
    text-indent: -3rem;
}

.dish-name {
    font-weight: bold;
}

.dish-name::after {
    content: ": ";
}

main #content .left {
    text-align: left;
}

main #content .right {
    text-align: right;
}

/* Contact Form */

form {
    background-color: var(--frame-color);
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    max-width: 30rem;
}

form fieldset {
    border: none;
    display: block;
}

form label {
    display: block;
}

#content .text-block form label span {
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-bottom: 0.2rem;
}

form input, form textarea {
    font-family: var(--system-font);
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    width: 100%;

    color: var(--content-text-color);
    background-color: var(--content-back-color);
    border: none;
    border-radius: 0.1rem;
    padding: 0 0.2rem;
}

form input::placeholder, form textarea::placeholder {
    color: var(--frame-color);
}

form textarea {
    min-height: 4lh;
}

form button {
    color: var(--header-text-color);
    background-color: var(--tab-color);
    font-family: var(--default-font);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 0.4rem 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Footer */

footer {
    margin-top: 1rem;
    text-align: center;
    line-height: 2rem;
    opacity: 0.7;
}

footer a {
    color: var(--header-text-color);
}