*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --header-text-color: #ffeebb;
    --header-back-color: #003810;
    --tab-color: #9d1c22;
    --content-text-color: #201000;
    --content-back-color: #ffeebb;

    --default-font: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

    font-family: var(--default-font);
    color: var(--header-text-color);
    background-color: var(--header-back-color);
}

/* Header */

header {
    color: var(--header-text-color);
    background-color: var(--header-back-color);
}

nav {
    position: relative;
    top: 0.5rem;
}

nav button {
    font-family: var(--default-font);
    font-size: 1rem;
    color: var(--header-text-color);
    background-color: var(--tab-color);
    border: 0.1rem solid var(--tab-color);
    border-radius: 0.2rem 0.2rem 0 0;
}

nav button.current-tab {
    color: var(--tab-color);
    background-color: var(--content-back-color);
    border: 0.2rem solid var(--content-back-color);
}

/* Main */

main {
    color: var(--content-text-color);
    background-color: var(--content-back-color);
    border: 0.4rem solid var(--tab-color);
}

/* Footer */

footer a {
    color: var(--header-text-color);
}